@media (max-width: 1600px) {
  body .page {
    padding: 16px;
  }

  body .page--events {
    --table-grid: 260px 210px 210px 220px 170px 0px;
  }

  body .page--directions {
    --table-grid: 500px 420px 0px;
  }

  body .page--projects {
    --table-grid: 380px 320px 220px 0px;
  }
}

@media (max-width: 1280px) {
  body .table-header {
    margin-bottom: 14px;
  }

  body .search-box {
    width: 210px;
  }
}
