{$APP_DOMAIN} {
    encode gzip zstd

    handle_path /static/* {
        root * /srv/django-static
        file_server
    }

    handle /api/* {
        reverse_proxy backend:8000
    }

    handle /ws/* {
        reverse_proxy backend:8000
    }

    handle /admin* {
        reverse_proxy backend:8000
    }

    handle_path /parser/* {
        reverse_proxy parser-api:8080
    }

    handle /swagger* {
        reverse_proxy backend:8000
    }

    handle /redoc* {
        reverse_proxy backend:8000
    }

    handle /assets/* {
        root * /srv/front
        header Cache-Control "public, max-age=31536000, immutable"
        file_server
    }

    handle {
        root * /srv/front
        header Cache-Control "no-cache"
        try_files {path} /index.html
        file_server
    }
}

{$TESTING_DOMAIN} {
    encode gzip zstd
    reverse_proxy testing-web:80
}
