.git
.github
.idea
.vscode
__pycache__
*.pyc
*.pyo
.pytest_cache
.coverage
htmlcov
.venv
venv
env
.env
.env.*
docker-init
airflow
ETL
Taskfile.yaml
docker-compose.yaml
docker-compose*.yml
README.md
MAINTENANCE.md
