APP_PORT=8080
APP_HOST=0.0.0.0

DB_USER=user
DB_PASSWORD=1111
DB_NAME=internships
DB_HOST=localhost
DB_PORT=5432

AIRFLOW_PORT=8081
AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=airflow

# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_FERNET_KEY=lrwQVgqN5fmyOD3GhlzmZaFrnU83bxm_LMFSrKsKj-s=
# python -c "import secrets; print(secrets.token_hex(32))"
AIRFLOW_JWT_SECRET=ed7f09f040e983a5a8bd907a5b0c9d2c41fb736f8888cfbc67778b32e3b8d404
